@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
}

/* mobile device portrait mode*/

@media screen and (min-width: 360px){
/* Header style */

.header-menu {
    height: auto;
    background-color: orangered;
}

#menu {
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0
}

#menu li {
    display: inline-block;
    padding: 0px 20px;
}

/* hero image */

.hero-image-area {
    height: 150px;
    width: 100vw;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/honeycomb-long.jpg) no-repeat center center/cover;
}

/*title area*/

.title-area {
    width: 100vw;
    height: 5vh;
    position: relative;
}

#name {
    font-size: 100%;
    position: absolute;
    top: 0;
}


#title #work-title {
    font-size: 80%;
    position: absolute;
    text-align: right;
    right: 10px;
    top: 0;
    bottom: 20px;
}
#title #school-title {
    font-size: 80%;
    position: absolute;
    text-align: right;
    right: 10px;
    top: 13px;
    bottom: 10px;
}
/* Get in touch */
.table-center {
    margin-left: auto;
    margin-right: auto;

}
table {
    font-size: 80%;
}

/* About me */
.about-me {
    margin: auto;
    text-align: center;
    font-size: 80%;
}

/*footer*/


} /*media 360 close*/

