@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 16px;
}
.line{
    border: 1px solid black;
}

/* old devices below 360px width and galaxy fold*/

@media screen and (max-width: 359px){

    /* Header style */
    .header-menu {
        height: auto;
        background-color: orangered;
        }
    
    #menu {
        list-style-type: none;
        text-align: center; 
        padding: 0;
        margin: 0;
          }
        
    #menu li {
        display: inline-block;
        padding: 0px 5px;
    }
    
    li a {
        text-align: center;
        color: blanchedalmond;
        font-size: 2vh;
    }
    
    .main-background {
        background-color: gray;
    }
    
    /* hero image */
    
    .hero-image-area {
        height: 150px;
        width: 100vw;
    }
    
    #hero-image {
        height: 100%;
        width: 100%;
        background: url(../images/hero1-1.jpg) no-repeat center center/cover;
    }
    
    /*title area*/
    
    .title-area {
        width: 100vw;
        height: 5vh;
        position: relative;
    }
    
    #name {
        font-size: 4.1vw;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    
    #title #work-title {
        font-size: 3.8vw;
        position: absolute;
        text-align: right;
        right: 5px;
    }
    
    #title #school-title {
        font-size: 3.8vw;
        position: absolute;
        text-align: right;
        right: 5px;
        bottom: 0;
        top: 15px;
    }
    
    /* Get in touch */
    
    .table-center {
        margin-left: auto;
        margin-right: auto;
    }
    
    table {
        font-size: 4vw;
    }
    
    .col-a {
    font-weight: 800;
    column-width: 150px;
    }
    
    /* About me */
    .about-me {
        margin: 5px;
        text-align: center;
        font-size: 0.6rem;
        overflow: hidden;
        height: auto;
    }
    
    
    
    .bottom-margin {
        margin-bottom: 1.5vw;
        }
    
    /*footer*/
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    
    .footer div {
        text-align: center;
        font-size: 2.4vw;
    }
    
    #cooperation {
        position: relative;
        float: right;
        right: 5px;
    }
        
    #download {
        position: relative;
        float: left;
        left: 5px;
    }
    
    #download-icon {
        font-size: 80%;
    }
    
    }

/* popular mobile device portrait mode*/

@media screen and (min-width: 360px) and (max-width: 420px){

    /* Header style */
.header-menu {
    height: auto;
    background-color: orangered;
    }

#menu {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
      }
    
#menu li {
    display: inline-block;
    padding: 0px 5px;
}

li a {
    text-align: center;
    color: blanchedalmond;
    font-size: 2vh;
}

.main-background {
    background-color: gray;
}

/* hero image */

.hero-image-area {
    height: 150px;
    width: 100vw;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero1-1.jpg) no-repeat center center/cover;
}

/*title area*/

.title-area {
    width: 100vw;
    height: 5vh;
    position: relative;
}

#name {
    font-size: 4.1vw;
    position: absolute;
    top: 5px;
    left: 5px;
}

#title #work-title {
    font-size: 3.8vw;
    position: absolute;
    text-align: right;
    right: 5px;
}

#title #school-title {
    font-size: 3.8vw;
    position: absolute;
    text-align: right;
    right: 5px;
    bottom: 0;
    top: 15px;
}

/* Get in touch */

.table-center {
    margin-left: auto;
    margin-right: auto;
}

table {
    font-size: 3.9vw;
}

.col-a {
font-weight: 800;
column-width: 150px;
}

/* About me */
.about-me {
    margin: 5px;
    text-align: center;
    font-size: 1.95vh;
    overflow: hidden;
    height: auto;
}



.bottom-margin {
    margin-bottom: 1.5vw;
    }

/*footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 0;
}

.footer div {
    text-align: center;
    font-size: 2.4vw;
}

#cooperation {
    position: relative;
    float: right;
    right: 5px;
}
    
#download {
    position: relative;
    float: left;
    left: 5px;
}

#download-icon {
    font-size: 80%;
}

} /*media 360px-420px close*/



/* smartphones in landscape mode */
@media screen and (min-width: 421px) and (max-width: 767px){}
/* Android tablets and iPads in portrait mode */
@media screen and (min-width: 768px) and (max-width: 1023px){}
/* Android tablets and iPads in landscape mode, older desktop/laptop monitors */
@media screen and (min-width: 1024px) and (max-width: 1365px){}
/* iPad PRO, HDready and FullHD desktop laptop monitors */
@media screen and (min-width: 1366px){}